html{
    box-sizing: border-box;    
    font-size: 62.55%; /** Reset para REMS de 16px:10px**/

}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

/**GLOBALES**/

.active{
    box-shadow: inset 100vh 0 0 0 rgb(192, 38, 200) !important;
    color: white !important;
}
img{max-width: 100%;}

.no-margin{margin: 0;}

h1{font-size: 3.8rem;}
h2{font-size: 3.4rem;}
h3{font-size: 3rem;}
h4{font-size: 2.6rem;}

a{text-decoration: none;}

.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.centrar{text-align: center; align-items: center;}

li{list-style: none;}

.icon{transition: font-size .1s ease-in-out;}
.icon:hover{font-size: 1.8rem;}
.icon:focus{font-size: 1.8rem;}
.icon-seccion{font-size: 6rem;}

.line{height: 0.2rem; width: 50%; background-color: rgb(206, 116, 214); margin: 1rem;}

/*HEADER*/

 
.site-header{
    background-color: rgb(255, 232, 190);
    padding: 0rem 0 0rem 0rem;
}

.img-header{
    background-image: url(/assents/img/1.jpg)
    background-position: left center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    padding: none;
}

.content-header{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.099);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-header{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 8rem 2rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.200) 0%, rgba(0,0,0,0.650) 35%, rgba(255,255,255,0) 60%);
}

/**NAVEGACION**/

.barra-header{
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: fixed;
}
.navbar-nav{
    background-color: rgba(255, 255, 255, 0.852);

}

.link-nav{ 
    box-shadow: inset 0 0 0 0 rgb(206, 116, 214);
    color: rgb(70, 31, 63);
    margin: 0.5rem;
    padding: 0.5rem;
    transition: color .3s, box-shadow .3s ease-in-out;
    
}

.link-nav:hover{
    box-shadow: inset 100vh 0 0 0 rgb(206, 116, 214);
    color: rgb(46, 46, 46) !important;
    text-decoration: none;
}

.link-nav:focus{
    box-shadow: inset 100vh 0 0 0 rgb(206, 116, 214);
    color: rgb(46, 46, 46);
    text-decoration: none;
}

.brand{
    color: rgb(226, 113, 237);
    transition: color .5s;
}

.brand:hover{
    color:rgb(98, 53, 92);
}

.logo a:hover{
    text-decoration: none;
}

.bg-style{
    background-color: rgba(255, 255, 255, 0.645);
    padding: 1rem;
    max-width: 90%;
    border-radius: 2rem;
}

/**CONTENIDO1**/

.close {
    font-size: 1.5rem;
  }
  
  .galery img {
    opacity: 0.7;
    cursor: pointer;
    margin: 2rem;
    width: 90%;
  }
  
  .galery img:hover {
    opacity: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }




.seccion{
    display: flex;
    flex-direction: column;
}
.seccion-servicios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    flex-basis: calc(33,3% - 1rem);
    text-align: center;
}

.seccion h2, h3{
    color: rgb(226, 113, 237);
    margin: 0;
}


/**footer**/

.copyright{
    align-items: baseline;
    margin-top: 5rem;
    height: 8rem;
    padding-top: 3rem;
    color: rgb(192, 38, 200);
    background-color: black;
}

form{
    margin: 0 20rem 0 20rem;
}
form fieldset{
    display: flex;
    flex-direction: column;
    line-height: 3;
}
.boton{
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    margin-top: 3rem;
    background-color: black;
    color: rgb(192, 38, 200);
    transition: color .3s, background-color .3s, width .3s, height .3s;
}

.boton:hover{
    width: 120px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(192, 38, 200);
}